PORT=8080

DB_HOST=localhost
DB_NAME=sistema_chamado
DB_USER=root
DB_PASS=root

JWT_SECRET=your_jwt_secret_here

BASE_URL=http://localhost:8080
FRONTEND_URL=http://localhost:5173

MAIL_CLIENT_ID=your_mail_client_id
MAIL_CLIENT_SECRET=your_mail_client_secret
MAIL_FROM=Chamados noreply@example.com
MAIL_TENANT_ID=your_mail_tenant_id
MAIL_USER=noreply@example.com
